<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="https://img2.gratispng.com/20180518/aek/kisspng-house-home-inspection-roof-home-improvement-5afeb06b96ca76.3651402315266407476177.jpg"
             width="112" height="28">

    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/cadastrar">
                Cadastrar
            </a>

            <a class="navbar-item" href="/listar">
                Listar
            </a>

        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-link is-light" href="/login">
                    <strong>Login</strong>
                </a>
                <a class="button is-link is-light" href="/registrar">
                    <strong>Registrar</strong>
                </a>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-fullheight-with-navbar is-link">
    <div class="hero-head" align="center">
        <h1 class="title is-size-1 is-uppercase">
            <br>
            Login
        </h1>
    </div>
    <form id="login-form" class="form" action="" method="post">
        {{ form.csrf_token }}
        <div class="hero-body is-size-2">
            <div class="container has-text-centered ">
                <p>Usuário</p>
                {{form.usuario(class='form-control')}}
                <br>
                <label>Senha:</label>
                <br>
                {{form.senha(class='form-control')}}
                <br>
                <br>
                {{form.submit(class='button is-link is-light')}}

                <a class="button is-danger is-light" href="/">Cancelar</a>
                <br>
                <a class="button is-primary is-light" href="/registrar">SignUp</a>
    </form>
    </div>
    </div>
    <br>
    <br>
</section>
</body>
</html>